html {
  width: 100vw;
  height: 100vh;
  /* margin: auto; */
  background-color: aqua;
}

body {
  margin: 0rem;
}

.container {
  display: none;

  margin: 5rem;
  padding: 2rem;
  border-style: solid;
  border-width: 2rem;
  border-color: blue;

  background-color: yellow;
  width: max-content;

  & .item {
    display: none;
    background-color: green;
    width: fit-content;
    margin: 0rem;
    padding: 4rem;
    border-style: solid;
    border-width: 2rem;
    border-color: red;
    font-style: italic;
    color: red;
  }

  & .item.show {
    display: block;
  }

  &.show {
    display: block;
  }
}

#mainlayout {
  display: grid;
  column-gap: 5px;
  grid-template-rows: repeat(1fr, 4);
  grid-template-areas: main main main main main;

  & #header {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;

    font-size: 2rem;
    background-color: yellow;
    margin: 0rem;
    height: 100%;
  }

  & #navbar {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 6;

    /* height: 5rem;
    background-color: gray; */

    position: fixed;

    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      & li {
        display: inline;
        padding: 8px;
        background-color: green;
      }
    }
  }

  & #content {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 6;
  }
}
